@-webkit-keyframes color_change {
    0%   {color: black;}
    100% {color: white;}
}
@keyframes color_change {
    0%   {color: black;}
    100% {color: white;}
}
@-webkit-keyframes img_ani {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes img_ani {
    from {opacity: 0;}
    to {opacity: 1;}
}
#ns {
    color: white;
    font-family: 'Raleway', sans-serif;
}
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 185px;
    text-align: center;
    background-color: black;
}
header{
    font-family: 'Raleway', sans-serif;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 0%;
    text-align: center;
    -webkit-animation-name: color_change;
            animation-name: color_change;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    line-height: normal;
}
#tt{
    font-family: 'Kalam', cursive;
}
footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0%;
}
#logo{
    -webkit-animation-name: img_ani;
            animation-name: img_ani;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}