@keyframes change{
    from{background: black;color: white; border-color: rgb(228, 228, 228);}
    to{background:rgb(231, 231, 231);color: black;border-color: rgb(99, 99, 99);}
}
button{
    background-color: black;
    color: white;
    border: 2px solid rgb(228, 228, 228);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
button:hover{
    animation-name: change;
    animation-duration: 0.75s;
    background: rgb(231, 231, 231);
    color: black;
    border: 2px solid rgb(99, 99, 99);
}
button:hover{
    animation-name: change;
    animation-duration: 0.75s;
    animation-direction: reverse; 
}