@-webkit-keyframes color_change {
    0%   {color: black;}
    100% {color: white;}
}
@keyframes color_change {
    0%   {color: black;}
    100% {color: white;}
}
#ib{
    text-align: left;
    color: #ffa1e8;
    float: left;
}
#we{
    color: #ffdda1;
    display: block; 
}
#lr{
    text-align: right;
    color: #a1ffd2;
    float: right;
}
#mr{
    float: 50%;
    text-align: center;
}
#wel{
    -webkit-animation-name: color_change;
            animation-name: color_change;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; 
}
#re{
    text-align: left;
    font-size: 10px;
    line-height: 0.05in;
}
#sk{
    text-align: left;
    line-height: 00.05in;
    font-size: 10px;
}
#req{
    color: rgb(168, 223, 255);
}