@keyframes color_change {
    0%   {color: black;}
    100% {color: white;}
}
#ib{
    text-align: left;
    color: #ffa1e8;
    float: left;
}
#we{
    color: #ffdda1;
    display: block; 
}
#lr{
    text-align: right;
    color: #a1ffd2;
    float: right;
}
#mr{
    float: 50%;
    text-align: center;
}
#wel{
    animation-name: color_change;
    animation-duration: 1s; 
}
#re{
    
}